.form {
	justify-content:left;
	display:flex;
	padding-left:40px;
}

.form-group {
	display: contents;
}

.email-input {
	font-family:'Poppins';
	width:60%;
	height:20px;
	text-indent:10px;
	background: 'black';
	color:'white';
	border-color:'black';
	border-bottom:'5px solid white';
}